{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<title>Search</title>

<table>
<tr>
	<th>Engine</th>
	<th>Search query</th>
</tr>

<form action="{% url 'Search' %}" method="POST">
{% csrf_token %}
<tr>
	<td>KickAss</td>
	<td><input type="text" name="kickasstorrents" value={{query}}/></td>
	<td><input type="submit" value="OK"></td>
</tr>
</form>

<form action="{% url 'Search' %}" method="POST">
{% csrf_token %}
<tr>
	<td>BTDigg</td>
	<td><input type="text" name="btdigg" value={{query}}/></td>
	<td><input type="submit" value="OK"></td>
</tr>
</form>
</table>