{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

<form action="/search/query/kickasstorrents" method="POST">
{% csrf_token %}
<table>
<tr>
	<th>KickAss</th>
	<th><input type="text" name="kickasstorrents" value={{query}}/></th>
	<th><input type="submit" value="OK"></th>
</tr>
</table>
</form>

<form action="/search/query/btdigg" method="POST">
{% csrf_token %}
<table>
<tr>

	<th>BTDigg</th>
	<th><input type="text" name="btdigg" value={{query}}/></th>
	<th><input type="submit" value="OK"></th>
</tr>
</table>
</form>